{%extends 'admin/layout.html'%}
{% import '_macro.html' as macros %}
{%block content%}
<style type="text/css">
#output {
    background-color: #000000;
    color: #fff;
    font-family: monospace, fixed;
    font-size: 15px;
    line-height: 18px;
}
a:link {color: black; text-decoration:none;}
a:active:{color: black; }
a:visited {color:black;text-decoration:none;}
a:hover {color: black; text-decoration:none;}
</style>
<div class="mdui-typo">
    <h1> 文件管理 <small>仅支持更新/编辑文编；支持删除文件</small></h1>
</div>
    <div class="mdui-table-fluid">
        <table class="mdui-table mdui-table-selectable">
          <thead>
            <tr>
              <th class="mdui-table-cell-checkbox" id="SelectAll" style="width: 60px;">
                <label class="mdui-checkbox">
                  <input type="checkbox"  onclick="reserveCheck('choice')"><i class="mdui-checkbox-icon"></i>
                </label>
              </th>
                <th>{{ macros.Admin_Arraw(name='文件',cur_type='name',sortby=sortby,order=order,path=path) }}</th>
                <th>{{ macros.Admin_Arraw(name='修改时间',cur_type='lastModtime',sortby=sortby,order=order,path=path) }}</th>
                <th>
                    <button class="mdui-btn mdui-btn-icon" onclick="delAllProduct()" mdui-tooltip="{{'{'}}content: '删除'{{'}'}}"><i class="mdui-icon material-icons">&#xe872;</i></button>
                    <button class="mdui-btn mdui-btn-icon" onclick="setPasswd('{{path}}')" mdui-tooltip="{{'{'}}content: '设置密码'{{'}'}}"><i class="mdui-icon material-icons">&#xe32a;</i> </button>
                </th>
            </tr>
          </thead>
            <tbody>
                {%if path!='/'%}
                <tr>
                    <td></td>
                    <td>
                        <a href="{{url_for('admin.manage',path='/'.join(path_list(path)[:-1]))|safe}}">
                            <i class="mdui-icon material-icons">arrow_upward</i> 返回上一层
                        </a>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                {%endif%}
                {%for data in items%}
                  {%if data['type']=='folder' %}
                  <tr>
                    <td class="mdui-table-cell-checkbox">
                      <label class="mdui-checkbox">
                        <input type="checkbox" name="choice" value="{{data['id']}}"><i class="mdui-checkbox-icon"></i>
                      </label>
                    </td>
                      <td>
                            <a href="{{url_for('admin.manage',path=os.path.join(path,data['name']))|safe}}" class="mdui-list-item">
                              <i class="mdui-icon material-icons">folder_open</i> {{data['name']}}
                            </a>
                      </td>
                      <td>{{data['lastModtime']}}</td>
                      <td>
                          <button class="mdui-btn mdui-btn-icon"  onclick="delProduct('{{data['id']}}')">
                              <i class="mdui-icon material-icons">&#xe872;</i>
                          </button>
                      </td>
                  </tr>
                  {%else%}
                  <tr>
                    <td class="mdui-table-cell-checkbox">
                      <label class="mdui-checkbox">
                        <input type="checkbox" name="choice" value="{{data['id']}}"><i class="mdui-checkbox-icon"></i>
                      </label>
                    </td>
                      <td class="file">
                          <a href="{{url_for('show',fileid=data['id'])}}" target="_blank" class="mdui-list-item">
                              <i class="mdui-icon material-icons">{{file_ico(data)}}</i> {{data['name']}}
                          </a>
                      </td>
                      <td>{{data['lastModtime']}}</td>
                      <td>
                          <button class="mdui-btn mdui-btn-icon" onclick="delProduct('{{data['id']}}')">
                            <i class="mdui-icon material-icons">&#xe872;</i>
                          </button>
                          {%if CanEdit(data['name'])%}
                          <button class="mdui-btn mdui-btn-icon" onclick="editFile('{{data['id']}}')">
                            <i class="mdui-icon material-icons">&#xe3c9;</i>
                          </button>
                          {%endif%}
                      </td>
                  </tr>
                  {%endif%}
                {%endfor%}
            </tbody>
        </table>
    </div>
<div class="mdui-center">
    {% if pagination %} {{ macros.pagination_widget(pagination, endpoint,path=path,sortby=sortby,order=order) }} {% endif %}
</div>
<script type="text/javascript">
  $$(function() {
      $$('.file a').each(function() {
          $$(this).on('click', function() {
              var form = $$('<form target=_blank method=post></form>').attr('action', $$(this).attr('href')).get(0);
              $$(document.body).append(form);
              form.submit();
              $$(form).remove();
              return false;
          });
      });
  });
  function reserveCheck(name){
    var revalue = document.getElementsByName(name);
    for(i=0;i<revalue.length;i++){
        if(revalue[i].checked == true)
        revalue[i].checked = false;
        else
        revalue[i].checked = true;
    }
  }

  function delAllProduct(){
      if(!confirm("将直接从onedrive删除文件！！！确定删除？")){
          return ;
      }
      var cks=document.getElementsByName("choice");
      var str="";
      //拼接所有的图书id
      for(var i=0;i<cks.length;i++){
          if(cks[i].checked){
              str+=cks[i].value+"##";
          }
      }

      //去掉字符串末尾的‘&’
      str=str.substring(0, str.length-1);
      $.ajax({
          type: "POST",
          url: "{{url_for('admin.delete')}}",
          dataType:'json',
          data: {id:str},
          beforeSend:function(xhr){
              var index = layer.load(2, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
              });
          },
          success: function(result){
              if(result.status==0){
                alert(result.msg);
                window.location.reload();
              }
              else{
                alert('删除成功'+result.delete+'个,失败'+result.fail+'个');
                window.location.reload();
              }
          },
          complete:function(xhr){
              $('#layui-layer-shade1').remove();
          }
      });

  }

  function delProduct(id){
      if(!confirm("将直接从onedrive删除文件！！！确定删除？")){
          return ;
      }
      $.ajax({
            type: "POST",
            url: "{{url_for('admin.delete')}}",
            dataType:'json',
            data: {id:id},
            beforeSend:function(xhr){
                var index = layer.load(2, {
                  shade: [0.1,'#fff'] //0.1透明度的白色背景
                });
            },
            success: function(result){
                if(result.status==0){
                  alert(result.msg);
                  window.location.reload();
                }
                else{
                  alert('删除成功');
                  window.location.reload();
                }
            },
            complete:function(xhr){
                $('#layui-layer-shade1').remove();
            }

        });
  }

  function editFile(id){
    window.open('{{url_for('admin.edit')}}?fileid='+id, '_blank');
  }

  function setPasswd(path){
    window.open('{{url_for('admin.setpass')}}?path='+path, '_blank');
  }

</script>
{%endblock content%}
