<div class="mdui-container-fluid">
    <div class="mdui-toolbar nexmoe-item">
        <a href="/">{{title}}</a>
        {%if path%}
        {%for idx,p in enumerate(path_list(path))%}
            <i class="mdui-icon material-icons mdui-icon-dark" style="margin:0;">chevron_right</i>
            {%if idx==len(path_list(path))-1%}
            <a href="#">{{p}}</a>
            {%else%}
            <a href="{{url_for('.index',path='/'.join(path_list(path)[:idx+1]))}}">{{p}}</a>
            {%endif%}
        {%endfor%}
        {%endif%}
    </div>
</div>
